---
layout: page
title: Categories
header: Posts By Category
group: navigation
---
{% include JB/setup %}

<div class="tag_box inline">
  {% assign categories_list = site.categories %}
  {% assign category_show_number = true %}
  {% include JB/categories_list %}
  {% assign category_show_number = nil %}
</div>

<hr/>

{% for category in site.categories %} 
	<div  id="{{ category[0] }}-ref" class='blog-post-set'>
		<h2>{{ category[0] | join: "/" }}</h2>
		<ul>
			{% assign pages_list = category[1] %}  
			{% include JB/pages_list %}
		</ul>
	</div>
{% endfor %}

